In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:\\Users\\mailk\\OneDrive\\Desktop\\AI and ML\\02. Pre-Processing-2-20210705T030211Z-001\\02. Pre-Processing-2\\Activity\\train_v9rqX0R.csv")

In [3]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
data_copy = data.copy()

In [6]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [7]:
data.shape

(8523, 12)

In [8]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [9]:
data.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [11]:
data.Item_Fat_Content.replace({'LF':'Low Fat', 'reg': 'Regular', 'low fat':'Low Fat'}, inplace=True)

In [13]:
data.Item_Fat_Content.value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [14]:
data.Item_Identifier.value_counts()

FDG33    10
FDW13    10
FDG09     9
FDX20     9
NCJ30     9
         ..
FDK57     1
FDQ60     1
FDY43     1
FDE52     1
DRF48     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [15]:
data.duplicated().sum()

0

In [16]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [17]:
data.Item_Identifier[data['Item_Weight'].isna()].duplicated().sum()

321

In [18]:
data.Item_Identifier.duplicated().sum()

6964

In [19]:
data[data['Item_Weight'].isna()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [20]:
data.Outlet_Establishment_Year.value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [21]:
data[['Outlet_Establishment_Year']][data['Item_Weight'].isna()].value_counts()

Outlet_Establishment_Year
1985                         1463
dtype: int64

In [22]:
data.Outlet_Type.value_counts(dropna=False)

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [23]:
## This does not add value to the outlet type, but just to practice
data.Outlet_Type.replace({'Supermarket Type1':5,
                          'Grocery Store':4,
                          'Supermarket Type3':3,
                          'Supermarket Type2':2                         
                         },inplace=True)

In [24]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,5,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,5,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,4,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,5,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,5,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,5,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,5,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,5,765.6700

In [25]:
data.Outlet_Size.value_counts(dropna=False)

Medium    2793
NaN       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [26]:
## This does not add value to the outlet Size, but just to practice
data.Outlet_Size.replace({'Medium':2,
                          'Small':1,
                          'High':3
                         },inplace=True)

In [27]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,2.0,Tier 1,5,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,2.0,Tier 3,2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,2.0,Tier 1,5,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,4,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,3.0,Tier 3,5,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,3.0,Tier 3,5,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,5,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,1.0,Tier 2,5,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,2.0,Tier 3,2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,1.0,Tier 1,5,765.6700

In [28]:
data.Outlet_Identifier.nunique()

10

In [29]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [30]:
data[data['Item_Weight'].isna()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,2.0,Tier 3,3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,2.0,Tier 3,3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,2.0,Tier 3,3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,1.0,Tier 1,4,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,1.0,Tier 1,4,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,2.0,Tier 3,3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,2.0,Tier 3,3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,2.0,Tier 3,3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,1.0,Tier 1,4,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,2.0,Tier 3,3,4138.6128

In [31]:
Item_Type_weight = dict(data.groupby(['Item_Type']).Item_Weight.mean())

In [32]:
Item_Type_weight

{'Baking Goods': 12.277108208955255,
 'Breads': 11.3469362745098,
 'Breakfast': 12.768202247191002,
 'Canned': 12.305705009276451,
 'Dairy': 13.42606890459367,
 'Frozen Foods': 12.867061281337076,
 'Fruits and Vegetables': 13.224769381746881,
 'Hard Drinks': 11.400327868852452,
 'Health and Hygiene': 13.142313953488392,
 'Household': 13.384736495388726,
 'Meat': 12.81734421364986,
 'Others': 13.853284671532842,
 'Seafood': 12.5528431372549,
 'Snack Foods': 12.987879554655919,
 'Soft Drinks': 11.847459893048129,
 'Starchy Foods': 13.690730769230765}

In [33]:
Item_Type_weight['Fruits and Vegetables']

13.224769381746881

In [34]:
data_copy['Item_Weight'].fillna(data_copy['Item_Type'].map(Item_Type_weight),inplace=True)

In [35]:
data['Item_Weight'].fillna(data['Item_Type'].map(Item_Type_weight),inplace=True)

In [36]:
data.head(20)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,2.0,Tier 1,5,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,2.0,Tier 3,2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,2.0,Tier 1,5,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,4,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,3.0,Tier 3,5,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,2.0,Tier 3,2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,3.0,Tier 3,5,343.5528
7,FDP10,12.987880,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,2.0,Tier 3,3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,5,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,5,4710.5350
10,FDY07,11.800000,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,2.0,Tier 1,5,1516.0266
11,FDA03,18.500000,Regular,0.045464,Dairy,144.1102,OUT046,1997,1.0,Tier 1,5,2187.1530
12,FDX32,15.100000,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,2.0,Tier 1,5,1589.2646
13,FDS46,17.600000,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,1.0,Tier 1,5,2145.2076
14,FDF32,16.350000,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,3.0,Tier 3,5,1977.4260
15,FDP49,9.000000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,1.0,Tier 1,5,1547.3192
16,NCB42,11.800000,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,2.0,Tier 3,2,1621.8888
17,FDP49,9.000000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,2.0,Tier 1,5,718.3982
18,DRI11,11.400328,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,2.0,Tier 3,3,2303.6680
19,FDU02,13.350000,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,1.0,Tier 2,5,2748.4224

In [37]:
data_copy.head(20)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.987880,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
10,FDY07,11.800000,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500000,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100000,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600000,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350000,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800000,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
18,DRI11,11.400328,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
19,FDU02,13.350000,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224

In [38]:
data[data.Outlet_Size.isna()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,4,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,5,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,5,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,5,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,4,178.4344
...,...,...,...,...,...,...,...,...,...,...,...,...
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,5,3020.0688
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,5,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,4,424.7804
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,5,468.7232
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,5,549.2850

In [39]:
data.Outlet_Type.value_counts(dropna=False)

5    5577
4    1083
3     935
2     928
Name: Outlet_Type, dtype: int64

In [40]:
data.groupby(['Outlet_Location_Type','Outlet_Type','Outlet_Size']).Outlet_Size.count()

Outlet_Location_Type  Outlet_Type  Outlet_Size
Tier 1                4            1.0            528
                      5            1.0            930
                                   2.0            930
Tier 2                5            1.0            930
Tier 3                2            2.0            928
                      3            2.0            935
                      5            3.0            932
Name: Outlet_Size, dtype: int64

In [41]:
data.groupby(['Outlet_Location_Type']).Outlet_Size.median()

Outlet_Location_Type
Tier 1    1.0
Tier 2    1.0
Tier 3    2.0
Name: Outlet_Size, dtype: float64

In [42]:
data.groupby(['Outlet_Type']).Outlet_Size.value_counts()

Outlet_Type  Outlet_Size
2            2.0             928
3            2.0             935
4            1.0             528
5            1.0            1860
             3.0             932
             2.0             930
Name: Outlet_Size, dtype: int64

In [43]:
data.Outlet_Size.value_counts()

2.0    2793
1.0    2388
3.0     932
Name: Outlet_Size, dtype: int64

In [44]:
type_dict = dict(data.groupby(['Outlet_Location_Type']).Outlet_Size.median())

In [45]:
type_dict

{'Tier 1': 1.0, 'Tier 2': 1.0, 'Tier 3': 2.0}

In [46]:
data_copy['Outlet_Size'].fillna(data_copy['Outlet_Location_Type'].map(type_dict), inplace=True)

In [47]:
data_copy.head(25)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,2,Tier 3,Grocery Store,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.987880,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,1,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,1,Tier 2,Supermarket Type1,4710.5350
10,FDY07,11.800000,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500000,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100000,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600000,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350000,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800000,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
18,DRI11,11.400328,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
19,FDU02,13.350000,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850000,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
21,FDW12,12.277108,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
22,NCB30,14.600000,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
23,FDC37,12.277108,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
24,FDR28,13.850000,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250

In [48]:
data['Outlet_Size'].fillna(data['Outlet_Location_Type'].map(type_dict), inplace=True)

In [49]:
data.head(30)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,2.0,Tier 1,5,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,2.0,Tier 3,2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,2.0,Tier 1,5,2097.2700
3,FDX07,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,2.0,Tier 3,4,732.3800
4,NCD19,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,3.0,Tier 3,5,994.7052
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,2.0,Tier 3,2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,3.0,Tier 3,5,343.5528
7,FDP10,12.987880,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,2.0,Tier 3,3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,1.0,Tier 2,5,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,1.0,Tier 2,5,4710.5350
10,FDY07,11.800000,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,2.0,Tier 1,5,1516.0266
11,FDA03,18.500000,Regular,0.045464,Dairy,144.1102,OUT046,1997,1.0,Tier 1,5,2187.1530
12,FDX32,15.100000,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,2.0,Tier 1,5,1589.2646
13,FDS46,17.600000,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,1.0,Tier 1,5,2145.2076
14,FDF32,16.350000,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,3.0,Tier 3,5,1977.4260
15,FDP49,9.000000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,1.0,Tier 1,5,1547.3192
16,NCB42,11.800000,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,2.0,Tier 3,2,1621.8888
17,FDP49,9.000000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,2.0,Tier 1,5,718.3982
18,DRI11,11.400328,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,2.0,Tier 3,3,2303.6680
19,FDU02,13.350000,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,1.0,Tier 2,5,2748.4224
20,FDN22,18.850000,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,3.0,Tier 3,5,3775.0860
21,FDW12,12.277108,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,2.0,Tier 3,3,4064.0432
22,NCB30,14.600000,Low Fat,0.025698,Household,196.5084,OUT035,2004,1.0,Tier 2,5,1587.2672
23,FDC37,12.277108,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,1.0,Tier 1,4,214.3876
24,FDR28,13.850000,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,1.0,Tier 1,5,4078.0250
25,NCD06,13.000000,Low Fat,0.099887,Household,45.9060,OUT017,2007,1.0,Tier 2,5,838.9080
26,FDV10,7.645000,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,1.0,Tier 2,5,1065.2800
27,DRJ59,11.650000,Low Fat,0.019356,Hard Drinks,39.1164,OUT013,1987,3.0,Tier 3,5,308.9312
28,FDE51,5.925000,Regular,0.161467,Dairy,45.5086,OUT010,1998,2.0,Tier 3,4,178.4344
29,FDC14,12.305705,Regular,0.072222,Canned,43.6454,OUT019,1985,1.0,Tier 1,4,125.8362

In [50]:
numerical_data = data.select_dtypes(include=np.number).drop(columns='Outlet_Type')

In [51]:
numerical_data

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales
0,9.300,0.016047,249.8092,1999,2.0,3735.1380
1,5.920,0.019278,48.2692,2009,2.0,443.4228
2,17.500,0.016760,141.6180,1999,2.0,2097.2700
3,19.200,0.000000,182.0950,1998,2.0,732.3800
4,8.930,0.000000,53.8614,1987,3.0,994.7052
...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,1987,3.0,2778.3834
8519,8.380,0.046982,108.1570,2002,1.0,549.2850
8520,10.600,0.035186,85.1224,2004,1.0,1193.1136
8521,7.210,0.145221,103.1332,2009,2.0,1845.5976
8522,14.800,0.044878,75.4670,1997,1.0,765.6700

In [52]:
numerical_data.columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Item_Outlet_Sales'],
      dtype='object')

In [53]:
categorical_data = data.select_dtypes(exclude=np.number)

In [54]:
categorical_data

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Location_Type
0,FDA15,Low Fat,Dairy,OUT049,Tier 1
1,DRC01,Regular,Soft Drinks,OUT018,Tier 3
2,FDN15,Low Fat,Meat,OUT049,Tier 1
3,FDX07,Regular,Fruits and Vegetables,OUT010,Tier 3
4,NCD19,Low Fat,Household,OUT013,Tier 3
...,...,...,...,...,...
8518,FDF22,Low Fat,Snack Foods,OUT013,Tier 3
8519,FDS36,Regular,Baking Goods,OUT045,Tier 2
8520,NCJ29,Low Fat,Health and Hygiene,OUT035,Tier 2
8521,FDN46,Regular,Snack Foods,OUT018,Tier 3
8522,DRG01,Low Fat,Soft Drinks,OUT046,Tier 1

# Perform Standard scaling on Numerical Data (Using Standardisation)

In [55]:
from sklearn.preprocessing import StandardScaler

In [56]:
StdScaler = StandardScaler()

In [57]:
data_num_std = StdScaler.fit_transform(numerical_data )

In [58]:
data_num_std

array([[-0.84060081, -0.97073217,  1.74745381,  0.13954076,  0.57511938,
         0.910601  ],
       [-1.63917263, -0.90811123, -1.48902325,  1.33410274,  0.57511938,
        -1.01844035],
       [ 1.0967628 , -0.95691733,  0.01004021,  0.13954076,  0.57511938,
        -0.04923754],
       ...,
       [-0.53345779, -0.59978449, -0.89720755,  0.73682175, -0.90532233,
        -0.57909963],
       [-1.33439226,  1.53287976, -0.60797692,  1.33410274,  0.57511938,
        -0.19672492],
       [ 0.45885039, -0.41193591, -1.05226104, -0.09937163, -0.90532233,
        -0.82959407]])

In [59]:
preprocessed_numerical_data = pd.DataFrame(data_num_std, columns=numerical_data.columns)

In [60]:
preprocessed_numerical_data

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales
0,-0.840601,-0.970732,1.747454,0.139541,0.575119,0.910601
1,-1.639173,-0.908111,-1.489023,1.334103,0.575119,-1.018440
2,1.096763,-0.956917,0.010040,0.139541,0.575119,-0.049238
3,1.498411,-1.281758,0.660050,0.020085,0.575119,-0.849103
4,-0.928018,-1.281758,-1.399220,-1.293934,2.055561,-0.695373
...,...,...,...,...,...,...
8518,-1.415903,-0.181193,1.180783,-1.293934,2.055561,0.349915
8519,-1.057964,-0.371154,-0.527301,0.497909,-0.905322,-0.956402
8520,-0.533458,-0.599784,-0.897208,0.736822,-0.905322,-0.579100
8521,-1.334392,1.532880,-0.607977,1.334103,0.575119,-0.196725
8522,0.458850,-0.411936,-1.052261,-0.099372,-0.905322,-0.829594

# One hot encoding on nominal data

In [61]:
preprocessed_categorical_data = pd.get_dummies(categorical_data)

In [62]:
preprocessed_categorical_data

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8521,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
8522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [63]:
total_preprocessed_data = pd.concat((preprocessed_categorical_data, preprocessed_numerical_data, data.Outlet_Type),axis=1)

In [64]:
total_preprocessed_data

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales,Outlet_Type
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,-0.840601,-0.970732,1.747454,0.139541,0.575119,0.910601,5
1,0,0,0,0,0,0,0,0,1,0,...,0,0,1,-1.639173,-0.908111,-1.489023,1.334103,0.575119,-1.018440,2
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1.096763,-0.956917,0.010040,0.139541,0.575119,-0.049238,5
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1.498411,-1.281758,0.660050,0.020085,0.575119,-0.849103,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,-0.928018,-1.281758,-1.399220,-1.293934,2.055561,-0.695373,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,0,0,1,-1.415903,-0.181193,1.180783,-1.293934,2.055561,0.349915,5
8519,0,0,0,0,0,0,0,0,0,0,...,0,1,0,-1.057964,-0.371154,-0.527301,0.497909,-0.905322,-0.956402,5
8520,0,0,0,0,0,0,0,0,0,0,...,0,1,0,-0.533458,-0.599784,-0.897208,0.736822,-0.905322,-0.579100,5
8521,0,0,0,0,0,0,0,0,0,0,...,0,0,1,-1.334392,1.532880,-0.607977,1.334103,0.575119,-0.196725,2
8522,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0.458850,-0.411936,-1.052261,-0.099372,-0.905322,-0.829594,5